* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #222222;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#response-IA {
    font-size: 15px;
    width: 50%;
    min-height: 60vh;
    color: white;
    padding: 10px;
    border: 1px solid white;
    background-color: transparent;
}

#question {
    font-size: 15px;
    width: 50%;
    min-height: 15vh;
    color: white;
    padding: 10px;
    border: 1px solid white;
    background-color: transparent;
    outline: none;
}